<!-- extend from base layout -->
{% extends "base.html" %}

{% block content %}
    <h1>Court Date Search</h1>
        <p> You can search by name, case number, or both. </p>
        <p> Searching by case number is best, but if you don't know it, we'll do our best
            .</p>
    <hr>
        <p> Enter first and last name to search for. Capitalization doesn't
        matter. </p>

    <div>
        <form action="" method="post" name="SearchName">
          {{ form.hidden_tag() }}
          <p>
              First Name::<br>
              {{ form.first_name(size=40) }}<br>
          </p>
          <p>
              Last Name::<br>
              {{ form.last_name(size=40) }}<br>
          </p>
            <hr>

          <p>Enter Case Number:</p>
          <p>
              Case Number::<br>
              {{ form.case_num(size=20) }}<br>
          </p>
          <p>{{ form.remember_me }} Remember Me</p>
          <p><input type="submit" value="Search for Court Date"></p>
        </form>
    </div>
{% endblock %}